@import '~bootstrap/scss/bootstrap';

.stories {
  height:80vh;
  overflow-y: scroll;
}
#sign-up-button {
  background-image: url(blob:https://johnnia001.imgur.com/ded4a61e-7dcb-48b6-82e2-6b2e3faa218b);
}